.contacts{   
    display: flex;
    justify-content: space-evenly;  
    background: #FFFFFF;
    color: #051C40;
    
  }
  .infoContacts{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
           
  }
  
  .feedback{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
           
  }
